####################
# Common
####################

PUID=
PGID=
TZ=

HOST_NAME=
DOMAIN=
ADMIN_DOMAIN=

CONFIGDIR=/srv/docker-config
CACHEDIR=/srv/cache
LOGDIR=/srv/logs

DEBUG_LOG=false
LOG_LEVEL=ERROR

# Caddy
CF_API_TOKEN=


# Paperless
PAPERLESS_SECRETKEY=
PAPERLESS_DB_USER=paperless_app
PAPERLESS_DB_PASSWORD=
PAPERLESS_DB_NAME=paperlessdb
PAPERLESS_URL=
PAPERLESS_SOCIALACCOUNT_PROVIDERS=