##########
# Common #
##########

PUID=
PGID=
TZ=

HOST_NAME=
SERVER_URL=
DOMAIN=
ADMIN_DOMAIN=
EMAIL_ADMIN=

REPODIR=/srv/repos/infra
CONFIGDIR=/srv/docker-config
CACHEDIR=/srv/cache
LOGDIR=/srv/logs

DEBUG_LOG=false
LOG_LEVEL=ERROR
LOGGING_DRIVER=loki

NAS_IP=

#########
# Ports #
#########

PORT_CADDY_HTTP=
PORT_CADDY_HTTPS=
PORT_CADDY_ADMIN=
PORT_SOCKY_PROXY=
PORT_ACTUAL=
PORT_DASH_HTTP=
PORT_GRAFANA_HTTP=
PORT_PROMETHEUS_HTTP=
PORT_LOKI_HTTP=
PORT_TEMPO_HTTP=
PORT_NODEEXPORTER_HTTP=
PORT_CADVISOR_HTTP=
PORT_PAPERLESS_HTTP=

############
# Services #
############

# Caddy
CF_API_TOKEN=

# Actual
ACTUALBUDGET_TAG=

# Dashboard
HOMEPAGE_TAG=

# Monitoring
GRAFANA_TAG=
GRAFANA_CLIENT_ID=
GRAFANA_CLIENT_SECRET=
PROMETHEUS_TAG=
LOKI_TAG=
TEMPO_TAG=
MEMCACHED_TAG=
NETWORK_MODE=

# Paperless
PAPERLESS_SECRETKEY=
PAPERLESS_DB_USER=paperless_app
PAPERLESS_DB_PASSWORD=
PAPERLESS_DB_NAME=paperlessdb
PAPERLESS_URL=
PAPERLESS_SOCIALACCOUNT_PROVIDERS=