####################
# Common
####################

PUID=
PGID=
TZ=

HOST_NAME=
SERVER_URL= #server's IP Address on your LAN. For local access.

CONFIGDIR=/srv/docker-config
CACHEDIR=/srv/cache

DEBUG_LOG=false
LOG_LEVEL=ERROR


# Paperless
PAPERLESS_SECRETKEY=
PAPERLESS_DB_USER=paperless_app
PAPERLESS_DB_PASSWORD=
PAPERLESS_DB_NAME=paperless_db
PAPERLESS_SOCIALACCOUNT_PROVIDERS=