##################
# Global options #
##################
{
    servers {
        metrics
    }

    dynamic_dns {
      provider cloudflare {$CF_API_TOKEN}
      domains {
        {$DOMAIN} @ www *
      }
    }

    admin 0.0.0.0:2019
}


############
# Snippets #
############
(cloudflare) {
  tls {
    dns cloudflare {$CF_API_TOKEN}
  }

  encode zstd gzip
}

(authenticate) {
      # always forward outpost path to actual outpost
      reverse_proxy /outpost.goauthentik.io/* http://authentik:9000

      # forward authentication to outpost
      forward_auth http://authentik:9000 {
          uri /outpost.goauthentik.io/auth/caddy

          # capitalization of the headers is important, otherwise they will be empty
          copy_headers X-Authentik-Username X-Authentik-Groups X-Authentik-Entitlements X-Authentik-Email X-Authentik-Name X-Authentik-Uid X-Authentik-Jwt X-Authentik-Meta-Jwks X-Authentik-Meta-Outpost X-Authentik-Meta-Provider X-Authentik-Meta-App X-Authentik-Meta-Version authorization

          # optional, in this config trust all private ranges, should probably be set to the outposts IP
          trusted_proxies private_ranges
      }
}

############
# Routing  #
############

# Admin

susanoo.{$ADMIN_DOMAIN} {
    import cloudflare
    reverse_proxy https://susanoo:8006 {
        transport http {
                tls
                tls_insecure_skip_verify
        }
    }
}

eurus.{$ADMIN_DOMAIN} {
    import cloudflare
    reverse_proxy https://eurus:8006 {
        transport http {
                tls
                tls_insecure_skip_verify
        }
    }
}

truenas.{$ADMIN_DOMAIN} {
    import cloudflare
    reverse_proxy truenas
}

grafana.{$ADMIN_DOMAIN} {
    import cloudflare
    reverse_proxy docker:3001
}

komodo.{$DOMAIN} {
    import cloudflare
    reverse_proxy docker:9120
}

# Auth

auth.{$DOMAIN} {
    import cloudflare
    reverse_proxy authentik:9000
}

# Home Assistant

homeassistant.{$DOMAIN} {
  import cloudflare
  reverse_proxy homeassistant:8123
}

homeassistant.seq.{$DOMAIN} {
  import cloudflare
  reverse_proxy homeassistant-seq:8123
}

homeassistant.kalasz.{$DOMAIN} {
  import cloudflare
  reverse_proxy homeassistant-kalasz:8123
}

# Media Stack

prowlarr.{$DOMAIN} {
    import authenticate
    import cloudflare
    reverse_proxy servarr:9696
}

sonarr.{$DOMAIN} {
    import authenticate
    import cloudflare
    reverse_proxy servarr:8989
}

radarr.{$DOMAIN} {
    import authenticate
    import cloudflare
    reverse_proxy servarr:7878
}

syncthing.{$DOMAIN} {
    import authenticate
    import cloudflare
    reverse_proxy syncthing:8384
}

overseerr.{$DOMAIN} {
    import cloudflare
    reverse_proxy servarr:5055
}

tautulli.{$DOMAIN} {
    import cloudflare
    reverse_proxy docker:8181
}

qbittorrent.{$DOMAIN} {
    import authenticate
    import cloudflare
    reverse_proxy servarr:8080
}

plex.{$DOMAIN} {
    import cloudflare
    reverse_proxy plex:32400
}

plex.seq.{$DOMAIN} {
    import cloudflare
    reverse_proxy plex-seq:32400
}

tautulli.seq.{$DOMAIN} {
    import cloudflare
    reverse_proxy tautulli-seq:8181
}

# Sequoia

zephyrus.{$DOMAIN} {
    import cloudflare
    reverse_proxy zephyrus:5000
}

frigate.seq.{$DOMAIN} {
    import authenticate
    import cloudflare
    reverse_proxy https://argestes:8971 {
        transport http {
                tls
                tls_insecure_skip_verify
        }
    }
}

# Services

dash.{$DOMAIN} {
    import authenticate
    import cloudflare
    reverse_proxy docker:3000
}

actual.{$DOMAIN} {
    import cloudflare
    reverse_proxy docker:5006
}

paperless.{$DOMAIN} {
    import cloudflare
    reverse_proxy docker:8000
}