##################
# Global options #
##################
{
    servers {
        metrics
    }

    dynamic_dns {
      provider cloudflare {$CF_API_TOKEN}
      domains {
        {$DOMAIN} @ www *
      }
    }

    admin 0.0.0.0:2019
}


############
# Snippets #
############
(cloudflare) {
  tls {
    dns cloudflare {$CF_API_TOKEN}
  }

  encode zstd gzip
}

(authenticate) {
      # always forward outpost path to actual outpost
      reverse_proxy /outpost.goauthentik.io/* http://authentik:9000

      # forward authentication to outpost
      forward_auth http://authentik:9000 {
          uri /outpost.goauthentik.io/auth/caddy

          # capitalization of the headers is important, otherwise they will be empty
          copy_headers X-Authentik-Username X-Authentik-Groups X-Authentik-Entitlements X-Authentik-Email X-Authentik-Name X-Authentik-Uid X-Authentik-Jwt X-Authentik-Meta-Jwks X-Authentik-Meta-Outpost X-Authentik-Meta-Provider X-Authentik-Meta-App X-Authentik-Meta-Version authorization

          # optional, in this config trust all private ranges, should probably be set to the outposts IP
          trusted_proxies private_ranges
      }
}

(headers) {
	header {
    -server #anonymizes Caddy

    # disable FLoC tracking
    Permissions-Policy interest-cohort=()

    # enable HSTS
    Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"

    # Docs | Content Security Policy https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy
    # Docs | Referrer Policy https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Referrer-Policy

    X-Content-Type-Options "nosniff" # disable clients from sniffing the media type

    # clickjacking protection
    X-Frame-Options DENY

    header_up X-Real-IP {vars.realip}
	}
}

############
# Routing  #
############

import *.caddy